@use 'helpers/color' as *;
@import url(../vendor/normalize.scss);
@import url(../vendor/fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: $bg-page;
  color: $main-text-color;
}
